.master-dashboard--lite {
	background-color: #f2f2f2;

	.master-content__header {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		width: 100%;

		>div {
			margin-bottom: 20px;
		}

		@media (min-width: 992px) {
			flex-direction: row;

			>div {
				margin-bottom: 0;
			}
		}
	}

	.master-content__center {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		transform: none;

		float: none;
	}

	.master-content__right {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		transform: none;

		float: none;
	}

	.btn-default {
		border-color: #eee;
		color: #666;
		font-weight: 600;
	}

	.master-content__title {
		margin-top: 0;
	}
}

.dashboard-content--lite {
	.block-header {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;

		&:after {
			content: none;
		}

		.btn-add {
			width: auto;
		}
	}

	.block-title-light {
		margin-top: 0;
	}

	.header-options {
		margin-left: auto;
		margin-top: 0;

	}

	.block-header-outer {
		.btn-default {
			border: none;
		}
	}

	.counter-block-element {
		height: auto;
		min-height: 130px;
	}


	.counter-label {
		margin-bottom: 10px;
		color: #666666;
		text-transform: uppercase;

		.icon {
			color: $color-primary;

			&:before {
				font-size: 15px;
			}
		}
	}

	.counter-num {
		color: #313131;
		font-size: 60px;
		line-height: 1;
	}

	.counter-group {
		display: inline-block;
		float: left;
		width: 50%;
		margin: 0;
	}

	.counter-group-sm {
		margin-left: 0;

		.counter-num {
			margin-bottom: 30px;
		}

		.counter-label {
			margin-bottom: 10px;
			
			font-size: 14px;

			opacity: 1;
		}
	}
	
	.dash-counter--lite {
		.counter-label {
			display: inline-block;
			margin-right: 20px;

			color: #9f9f9f;
			font-size: 12px;
			font-weight: 300;
		}
	}

	.block-content--transparent {
		padding: 0;
	}

	.todo-list {
		height: 100%;
		overflow: hidden;
		
		li {
			border-bottom: 1px solid #cdcdcd;
			margin: 0 20px 10px 0;
			padding: 10px 0;

			color: #313131;

			p {
				font-size: 14px;
				margin-bottom: 0;
			}
		}

		.date {
			color: #666666;
			font-size: 12px;
			font-weight: 300;
		}
	}

	.block-dismiss {
		color: #666666;
	}

	.icon-close-light {
		color: transparentize(#434d55, 0.5);
	}

	@media (max-width: 992px) and (min-width: 485px) {
		.counter-block-element {
			display: block;
			width: 100%;
		}
	}
}