/* BUILDING BLOCKS AND CONTAINERS */
.block {
  width: 100%;
  margin-top: 30px; }

.info-block {
  margin-bottom: 1px;
  overflow: hidden;
  min-height: 370px; }

.btn-add {
  width: 187px;
  height: 40px;
  border-color: #E4E7E8; }
  .btn-add .btn-caption {
    position: relative;
    padding-left: 20px; }
    .btn-add .btn-caption:before {
      content: "+";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      color: #00CCAE;
      font-size: 20px;
      font-weight: 600; }
  .btn-add:hover {
    background-color: #fff;
    border-color: #E4E7E8; }
    .btn-add:hover .btn-caption {
      color: #00CCAE; }

.block-header {
  position: relative;
  padding: 20px 25px 0 25px;
  background-color: white;
  min-height: 75px; }
  @media (min-width: 1200px) {
    .block-header {
      padding: 30px 30px 0 30px; } }
  .block-header:after {
    content: "";
    display: block;
    clear: both;
    float: none; }

.header-options {
  display: inline-block;
  margin: 10px 0 0 0;
  vertical-align: bottom; }
  .header-options .toggle-options {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    margin-top: 5px; }
    .header-options .toggle-options a {
      display: inline-block;
      margin: 0;
      font-size: 14px;
      color: #464646;
      text-decoration: none; }
      .header-options .toggle-options a:hover i {
        color: #00CCAE; }
    .header-options .toggle-options i {
      color: #1B3345;
      font-size: 19px; }
    .header-options .toggle-options i.icon-check-1 {
      color: #1B3345;
      font-size: 17px; }
  @media (min-width: 768px) {
    .header-options {
      float: right; } }

.block-title {
  margin: 0 0 0 0;
  font-weight: 600;
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  float: left;
  width: 75%; }
  @media (min-width: 486px) {
    .block-title {
      width: 50%; } }

.block-title-light {
  margin: 5px 0 0 0;
  display: inline-block;
  font-size: 13px;
  opacity: 0.8;
  vertical-align: middle;
  float: right; }
  @media (max-width: 486px) {
    .block-title-light {
      float: left;
      width: 100%; } }

.block-content {
  padding: 5px 20px 30px 20px;
  background-color: white;
  min-height: 295px;
  overflow: hidden;
  height: 295px; }
  @media (min-width: 486px) {
    .block-content {
      padding: 5px 30px 30px 30px; } }

.block-footer {
  padding: 5px 25px 25px 25px;
  background-color: white;
  min-height: 75px; }

.new-page-block .block-content {
  height: 310px; }
  .new-page-block .block-content .donut-chart {
    margin-top: 15px; }
.new-page-block .btn-holder {
  text-align: center; }

.list-block .block-content {
  min-height: 385px;
  background-color: #FAFAF9;
  padding: 0; }
  @media (min-width: 768px) {
    .list-block .block-content {
      padding: 15px 30px 25px 30px; } }
.list-block .list-header {
  position: relative;
  padding: 0 10px 0 15px;
  height: 55px;
  height: 55px;
  overflow: visible;
  z-index: 2; }
  @media (min-width: 992px) {
    .list-block .list-header {
      padding: 0 10px 0 30px; } }
  .list-block .list-header #list_switch {
    display: none; }
    @media (min-width: 992px) {
      .list-block .list-header #list_switch {
        display: inline-block; } }
  .list-block .list-header #list_switch2 {
    display: inline-block;
    width: 55%; }
    .list-block .list-header #list_switch2 button {
      text-align: left;
      width: 100%; }
      .list-block .list-header #list_switch2 button .caret {
        float: right;
        margin-top: 8px; }
    .list-block .list-header #list_switch2 ul {
      width: 110%; }
      .list-block .list-header #list_switch2 ul li {
        cursor: pointer; }
    @media (min-width: 992px) {
      .list-block .list-header #list_switch2 {
        display: none; } }
  .list-block .list-header .date-picker {
    display: inline-block;
    float: right;
    margin: 5px 0 0 0; }
    .list-block .list-header .date-picker .form-group {
      min-height: 45px;
      height: 45px;
      margin: 0; }
    .list-block .list-header .date-picker .control-label {
      font-size: 15px;
      font-weight: 600;
      display: inline-block; }
    .list-block .list-header .date-picker .picker-holder {
      display: inline-block;
      width: 45px;
      height: 45px; }
      @media (min-width: 768px) {
        .list-block .list-header .date-picker .picker-holder {
          width: 245px; } }
      .list-block .list-header .date-picker .picker-holder .form-control {
        visibility: hidden; }
      .list-block .list-header .date-picker .picker-holder span.icon_c {
        color: #767676;
        font-size: 22px;
        top: 12px;
        right: 8px; }
        .list-block .list-header .date-picker .picker-holder span.icon_c:hover {
          color: #FA5A28; }
  .list-block .list-header .list-nav {
    list-style: none;
    margin: 5px 0 0 0;
    display: inline-block;
    overflow: hidden;
    height: 50px;
    background-color: #FAFAF9; }
    @media (min-width: 992px) {
      .list-block .list-header .list-nav {
        display: inline-block;
        margin: 0 0 0 0;
        height: auto;
        background-color: transparent;
        overflow: visible; } }
    .list-block .list-header .list-nav .list-nav-item {
      display: block;
      vertical-align: top;
      height: 33px;
      margin-top: 10px;
      padding-left: 5px; }
      @media (min-width: 992px) {
        .list-block .list-header .list-nav .list-nav-item {
          display: inline-block;
          margin-top: 15px;
          padding-left: 5px; } }
      .list-block .list-header .list-nav .list-nav-item a {
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
        color: #666666;
        padding: 8px 10px 8px 10px;
        border: 1px solid transparent; }
        .list-block .list-header .list-nav .list-nav-item a:hover {
          padding: 8px 10px 8px 10px;
          text-align: center;
          text-transform: uppercase;
          border-radius: 50px;
          background-color: white;
          text-decoration: none;
          cursor: pointer;
          font-size: 12px;
          border: 1px solid #E4E7E8;
          color: #FA5A28; }
      .list-block .list-header .list-nav .list-nav-item .active {
        padding: 8px 10px 8px 10px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 50px;
        background-color: white;
        text-decoration: none;
        cursor: pointer;
        font-size: 12px;
        border: 1px solid #E4E7E8;
        color: #FA5A28; }
.list-block .list-content {
  background-color: white;
  height: 330px; }
  .list-block .list-content .item-list {
    list-style: none;
    padding: 0 10px 20px 10px;
    margin: 0; }
    @media (min-width: 486px) {
      .list-block .list-content .item-list {
        padding: 0 30px 0 30px; } }
    .list-block .list-content .item-list li {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      border-bottom: 1px solid #E4E7E8;
      min-height: 65px; }
      .list-block .list-content .item-list li:nth-last-child(1) {
        border: none; }
      .list-block .list-content .item-list li .list-item-container {
        padding-bottom: 8px; }
        .list-block .list-content .item-list li .list-item-container .list-number {
          margin: 15px 0 0 0;
          display: inline-block;
          border: none;
          vertical-align: middle;
          font-size: 27px;
          color: #D7D7D7; }
        .list-block .list-content .item-list li .list-item-container .list-text {
          display: inline-block;
          margin: 15px 0 0 10px;
          font-size: 14px;
          vertical-align: middle;
          width: calc(100% - 35px); }
          @media (min-width: 768px) {
            .list-block .list-content .item-list li .list-item-container .list-text {
              width: calc(100% - 300px);
              font-size: 16px; } }
        .list-block .list-content .item-list li .list-item-container .list-item-timestamp {
          display: inline-block; }
          .list-block .list-content .item-list li .list-item-container .list-item-timestamp p {
            font-size: 11px;
            font-weight: 600;
            display: inline-block;
            margin: 0 0 0 35px; }
            .list-block .list-content .item-list li .list-item-container .list-item-timestamp p span {
              color: #00CCAE;
              margin-right: 5px; }
          @media (min-width: 768px) {
            .list-block .list-content .item-list li .list-item-container .list-item-timestamp {
              float: right;
              margin: 25px 0 0 15px; } }

.notifications-block .block-title {
  width: 40%; }
.notifications-block .block-content {
  height: 385px;
  padding: 10px 10px 20px 10px;
  margin: 0; }
  @media (min-width: 486px) {
    .notifications-block .block-content {
      padding: 20px 30px 20px 30px; } }

.notifications-list {
  clear: both;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%; }
  .notifications-list ul {
    margin: 0; }
    .notifications-list ul li {
      position: relative;
      min-height: 55px;
      list-style: none;
      border-bottom: 1px solid #E4E7E8;
      padding: 0 0 10px 0;
      margin: 0 20px 0 10px; }
      .notifications-list ul li:nth-last-child(1) {
        border: none; }
      .notifications-list ul li .icon {
        position: absolute;
        top: 15px;
        left: 0;
        display: inline-block;
        color: #FA5A28; }
      .notifications-list ul li p {
        margin: 15px 0 0 15px;
        display: inline-block;
        font-size: 14px;
        width: 90%;
        padding-left: 25px; }
    .notifications-list ul .unread-notification .icon, .notifications-list ul .unread-notification p {
      color: #E4E7E8; }

.todo-block {
  background: transparent; }
  .todo-block .block-title {
    display: inline-block;
    width: 30%;
    margin-top: 10px; }
    @media (min-width: 768px) {
      .todo-block .block-title {
        width: auto; } }
  .todo-block .add-task {
    display: inline-block;
    float: right; }
    .todo-block .add-task .btn-add-task {
      height: 40px;
      width: 140px;
      border: none; }
      .todo-block .add-task .btn-add-task span {
        padding-left: 15px; }
    @media (min-width: 768px) {
      .todo-block .add-task {
        float: none;
        margin: 2px 0 0 10px; } }
  .todo-block .block-content {
    clear: both;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: transparent;
    height: 385px;
    padding: 0; }
    @media (min-width: 768px) {
      .todo-block .block-content {
        padding: 15px 30px 25px 30px; } }
    .todo-block .block-content ul {
      margin: 0;
      width: 100%; }
      .todo-block .block-content ul li {
        overflow: auto;
        position: relative;
        list-style: none;
        background-color: white;
        margin: 0 0 6px 0;
        min-height: 50px; }
        @media (min-width: 1200px) {
          .todo-block .block-content ul li {
            margin-right: 15px; } }
        .todo-block .block-content ul li .list-icon {
          top: 12px;
          left: 15px;
          font-size: 20px;
          color: #D7D7D7; }
        .todo-block .block-content ul li p {
          margin: 15px 0 0 0;
          font-size: 14px;
          padding-left: 40px; }
        .todo-block .block-content ul li .task-check:hover {
          color: #00CCAE;
          cursor: pointer; }
        .todo-block .block-content ul li .task-check-done {
          color: #00CCAE;
          cursor: pointer; }

.block-header-outer {
  padding: 10px 0;
  background-color: transparent;
  position: relative; }
  .block-header-outer .block-title {
    margin: 10px 0 0 0; }
  @media (min-width: 768px) {
    .block-header-outer {
      height: 75px; } }

.counter-block p {
  line-height: 115%; }

.counter-block-element {
  overflow: auto;
  height: 184px;
  margin-bottom: 1px;
  background-color: white; }

.counter-main {
  margin: 35px 0 0 25px; }
  @media (min-width: 1200px) {
    .counter-main {
      margin: 35px 0 0 35px; } }

.counter-group-md .counter-num {
  font-size: 60px;
  margin: 0; }

.counter-group-sm {
  display: inline-block;
  margin: 0 0 0 25px; }
  .counter-group-sm .counter-label {
    font-size: 10px;
    opacity: 0.6;
    margin: 0; }
  .counter-group-sm .counter-num {
    font-size: 19px;
    margin: 0; }
  @media (min-width: 1200px) {
    .counter-group-sm {
      margin: 0 0 0 35px; } }

/*# sourceMappingURL=building-blocks.css.map */
