a {
	outline: none;
	text-decoration: none;
}

img {
	border: 0;
}

ul, li {
	list-style-type: none;
}

h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0px;
	border: none;
}

h1, h2{
	font-weight: 200;
}

.clear {
	clear: both;
}

input {
	border: none;
}

a:focus {
	outline: none;
}

body, a, input, select, label {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
	line-height: 135%;
}

* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

textarea {
	overflow: auto;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
button:active:focus {
	outline: none !important;
	box-shadow: none !important;
}

body {
	background: #fff;
	overflow-x: hidden;
}

@media (min-width: 1200px){
	.container {
		width: 1000px;
		margin: 0 auto;
	}
}

.text-center{
	padding: 15px;
}

.text-right{
	text-align: right;
}

.form-group {
	min-height: 0;
}

/** Nav bar - Start **/
.navbar.navbar-default{
	margin-top: 15px;
	margin-bottom: 40px;
}

.navbar-header .navbar-brand{
	padding: 7px 15px;
}

.nav.navbar-nav.navbar-right{
	padding-top: 5px;
}

.nav.navbar-nav>li>a{
	border-bottom: 2px solid #fff;
}


.nav.navbar-nav>li.active>a{
	color: #F95722;
}

.nav.navbar-nav>li>a:hover{
	border-bottom: 2px solid #F95722;
}

.nav.navbar-nav>li.active>a:hover{
	border-bottom: none;
	color: #F95722;
}
/** Nav bar - End **/

/** Sites - Start **/
.sites.site-title a{
	font-size: 1.3em;
	font-weight: 600;
}
/** Sites - End **/


/** Side navigation - Start **/
.nav-pills>li,
.nav-pills>li>a{
	padding-left: 0px;
	color:#777;
}

.nav-pills>li>a:hover{
	color:#333;
	background-color: transparent;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover{
	color: #F95722;
	background-color: transparent;
}
/** Side navigation - End **/

/** Support Module - Start **/
.nav-pills.support-ticket-list li{
	border-bottom: 1px solid #ccc;
}

.nav-pills.support-ticket-list li:last-child{
	border-bottom: none;
}

.nav-pills .support-ticket-entry{
	border-left: 2px solid #ccc;
	border-radius: 0px;
	padding: 0 0 0 10px;
	margin: 20px 0;
}

.nav-pills .support-ticket-entry:hover{
	border-left: 2px solid #777;
}

.nav-pills .support-ticket-entry.active{
	border-left: 2px solid #F95722;
}

.support-ticket-entry .support-team-name{
	float:left;
	font-size: 0.8em;
	font-weight: 600;
}
.support-ticket-entry .support-date{
	float:right;
	font-size: 0.8em;
	font-weight: 400;
	color:#777;
}

.support-ticket-entry .support-title,
.support-ticket-entry .support-description{
	font-size: 0.9em;
	color:#000;
	display: block;
	padding: 2px 0;
	clear: both;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 300px;
}

.support-ticket-entry .support-description{
	font-size: 0.8em;
	color:#777;
}

.porlet .support-ticket-body.porlet-body{
	padding: 30px;
	margin: 0;
}

.support-ticket-body .support-pre-header,
.support-ticket-body .support-pre-header-date{
	font-size: 1em;
	font-weight: 600;
}
.support-ticket-body .support-pre-header-date{
	color:#777;
}
.support-ticket-body h3{
	margin: 25px 0;
}
.support-ticket-body p{
	color:#777;
	font-size: 1.1em;
	line-height: 180%;
}

/** Support Module - End **/

/** What's New list - Start **/
.notifications-whats-new-list .notifications-whats-new-list-entry{
	border-bottom: 1px solid #ececec;
	overflow: hidden;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.notifications-whats-new-list .notifications-whats-new-list-entry p{
	color:#777;
	font-size: 1.1em;
	line-height: 180%;
	margin: 25px 0;
}
/** What's New list - End **/
