
.icon-chart-line:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-gauge:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-basket_n:before { content: '\e804'; } /* '' */
.icon-prev:before { content: '\e805'; } /* '' */
.icon-columns:before { content: '\e806'; } /* '' */
.icon-plus-circled:before { content: '\e807'; } /* '' */
.icon-cancel-circled:before { content: '\e808'; } /* '' */
.icon-browser:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-ok-circled:before { content: '\e80b'; } /* '' */
.icon-exclamation-circle:before { content: '\e80c'; } /* '' */
.icon-floppy:before { content: '\e80d'; } /* '' */
.icon-desktop:before { content: '\e80e'; } /* '' */
.icon-info:before { content: '\e80f'; } /* '' */
.icon-good:before { content: '\e810'; } /* '' */
.icon-file-o:before { content: '\e811'; } /* '' */
.icon-caret-down:before { content: '\e812'; } /* '' */
.icon-comments:before { content: '\e813'; } /* '' */
.icon-external-link:before { content: '\e814'; } /* '' */
.icon-keys:before { content: '\e815'; } /* '' */
.icon-check:before { content: '\e816'; } /* '' */
.icon-edit:before { content: '\e817'; } /* '' */
.icon-minus-circled:before { content: '\e818'; } /* '' */
.icon-mobile:before { content: '\e819'; } /* '' */
.icon-tablet:before { content: '\e81a'; } /* '' */
.icon-next:before { content: '\e81b'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-settings:before { content: '\e81d'; } /* '' */
.icon-bad:before { content: '\e81e'; } /* '' */
.icon-bell:before { content: '\e81f'; } /* '' */
.icon-sign-out:before { content: '\e820'; } /* '' */
.icon-pin:before { content: '\e821'; } /* '' */
.icon-check-1:before { content: '\e822'; } /* '' */
.icon-cup:before { content: '\e823'; } /* '' */
.icon-menu-1:before { content: '\e824'; } /* '' */