
.icon-gauge:before { content: '\e800'; } /* '' */
.icon-columns:before { content: '\e801'; } /* '' */
.icon-exit:before { content: '\e802'; } /* '' */
.icon-gauge-1:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-browser:before { content: '\e805'; } /* '' */
.icon-newtab:before { content: '\e806'; } /* '' */
.icon-calendar2:before { content: '\e807'; } /* '' */
.icon-info:before { content: '\e808'; } /* '' */
.icon-eye:before { content: '\e809'; } /* '' */
.icon-exclamation-circle:before { content: '\e80a'; } /* '' */
.icon-info-circle:before { content: '\e80b'; } /* '' */
.icon-good:before { content: '\e80c'; } /* '' */
.icon-check-circle:before { content: '\e80d'; } /* '' */
.icon-file-o:before { content: '\e80e'; } /* '' */
.icon-caret-down:before { content: '\e80f'; } /* '' */
.icon-comments:before { content: '\e810'; } /* '' */
.icon-eye-slash:before { content: '\e811'; } /* '' */
.icon-check-circle-o:before { content: '\e812'; } /* '' */
.icon-external-link:before { content: '\e813'; } /* '' */
.icon-calendar-o:before { content: '\e814'; } /* '' */
.icon-check:before { content: '\e815'; } /* '' */
.icon-keys:before { content: '\e816'; } /* '' */
.icon-nextconverte22222:before { content: '\e817'; } /* '' */
.icon-earth:before { content: '\e818'; } /* '' */
.icon-paperplane:before { content: '\e819'; } /* '' */
.icon-out:before { content: '\e81a'; } /* '' */
.icon-settings:before { content: '\e81b'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-bad:before { content: '\e81d'; } /* '' */
.icon-bell:before { content: '\e81e'; } /* '' */
.icon-arrow-circle-right:before { content: '\e81f'; } /* '' */
.icon-sign-out:before { content: '\e820'; } /* '' */
.icon-times:before { content: '\e821'; } /* '' */
.icon-user:before { content: '\e822'; } /* '' */
.icon-basket_n:before { content: '\e823'; } /* '' */
.icon-plus-circled:before { content: '\e824'; } /* '' */
.icon-cog:before { content: '\e825'; } /* '' */
.icon-pencil:before { content: '\e826'; } /* '' */
.icon-th-large:before { content: '\e827'; } /* '' */
.icon-cancel:before { content: '\e828'; } /* '' */
.icon-website:before { content: '\e829'; } /* '' */
.icon-doc-text:before { content: '\e82a'; } /* '' */
.icon-users:before { content: '\e82b'; } /* '' */
.icon-network:before { content: '\e82c'; } /* '' */
.icon-fontsize:before { content: '\e82d'; } /* '' */
.icon-picture:before { content: '\e82e'; } /* '' */
.icon-table:before { content: '\e82f'; } /* '' */
.icon-picture-1:before { content: '\e830'; } /* '' */
.icon-doc-text-1:before { content: '\e831'; } /* '' */
.icon-edit:before { content: '\e832'; } /* '' */
.icon-th:before { content: '\e833'; } /* '' */
.icon-th-list:before { content: '\e834'; } /* '' */
.icon-header:before { content: '\e835'; } /* '' */
.icon-list-bullet:before { content: '\e836'; } /* '' */
.icon-align-left:before { content: '\e837'; } /* '' */
.icon-quote:before { content: '\e838'; } /* '' */
.icon-rocket:before { content: '\e839'; } /* '' */
.icon-desktop:before { content: '\e83a'; } /* '' */
.icon-floppy:before { content: '\e83b'; } /* '' */
.icon-tablet:before { content: '\e83c'; } /* '' */