// MAIN BLOCKS
// master content background color
$masterContentBgColor: #F2F2F2;
// BORDERS
// border-color
$borderColor: #E4E7E8;

// FORMS
// form background color
$formBgColor: #FBFBFB;
// form icon color
$formIconColor: #767676;



// FONTS

// text color
$mainFontColor: #464646;
// light text color
$lightFontColor: #666666;
// very light text color
$lighterFontcolor: #D7D7D7;
// small label color
$smallLabelFontColor: #313131;
// faded text color
$fadedTextColor: #E4E7E8;

// MAIN COLORS
// highlighted color
$highlightColor: #00CCAE;
// highlighted important color
$importantColor: #FA5A28;

// LISTS

$headerBgColor: #FAFAF9;

// ICONS

//Dark icon color

$darkIconColor: #1B3345;
